//主色
$main-orange:#BA462D; //主色-朱色
$main-gray:#727171; //主色-深灰

//輔色
$sup-deepOrange:#bf6619; //輔色-深橘
$sup-skin:#e6a68c; //輔色-膚色
$sup-orange:#D98033; //輔色-橘色
$sup-milktea:#FFCC99; //輔色-淺橘(奶茶)
$sup-Hojicha:#5c470a; //輔色-焙茶色
$sup-lightHojicha:#806640; //輔色-淺焙茶色
$sup-pink:#FF7366; //輔色-粉色
$sup-deepmain:#FF7366; //輔色-比朱色再深一點
$sup-redBrown:#8C594D; //輔色-紅咖
$sup-lightOrange:#E67319; //輔色-微亮橘色
$sup-morelight:#B39973; //輔色-比淺焙茶色還淺

//黑白
$white:#FFF;
$black:#000;




$sup-deepgray:#333;//輔色-鐵灰
$sup-normalgray:#666;//輔色-一般灰
$sup-lightgray:#999;//輔色-淺灰





